@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Microsoft Azure Cognitive Services Vision Services Sample</h2>
    Select service from Top banner
    <h3>This samples are using Microsoft Azure Cognitive Services (Vision)</h3>
    <p>
        <a href="https://azure.microsoft.com/ja-jp/services/cognitive-services/face/">Face</a>
    </p>
    <p>
        <a href="https://azure.microsoft.com/ja-jp/services/cognitive-services/custom-vision-service/">Custom Vision(Classification, Object Detection)</a>
    </p>
    <p>
        <a href="https://azure.microsoft.com/ja-jp/services/cognitive-services/form-recognizer/">Form Recognizer</a>
    </p>

    <div>
        Sample Code is on Github -
        <a href="https://github.com/ayako/CogServicesVisionSamples">https://github.com/ayako/CogServicesVisionSamples</a>
    </div>
</div>
